<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
 <meta content="width=device-width,user-scalable=no" name="viewport" />
 <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/email.css}"  />
     </head>
    <body>
  	<header>
    		<div class="title" id="title">
                <a class="leftGo" href="javascript:history.go(-1);"></a>
		        <div class="header-text">邮箱账单</div>
            </div> 
    	</header>
    	<div class="s-content">
            <div class="s-word">
                <h4>XXX服务协议</h4>
                <p> 信息授权协议（以下简称“本协议”）是红上性感有限公司（以下简称“性感”）与用户 (以下简称“您”)就个人信息授权使用所订立的合约。 <strong>您通过网络页面点击确认，即表示您同意接受本协议的全部约定内容以及与本协议有关的已经发布或将来可能发布的各项规则（以下统称“规则 ” ）。</strong> </p>
                <p> 在接受本协议之前，请您仔细阅读本协议的全部内容 <strong>（特别是以粗体下划线标注的内容）。</strong>如果您不同意本协议的任意内容，或者无法准确理解该条款的含义，请不要进行任何操作。 </p>
            </div>
            <div class="title1" id="title1">
                <strong>一、 您同意并授权性感获取你的认证信息，以用于您在性感申请额度的个人评分评估。 </strong>
            </div>
            <br/>
            <div class="title2" id="title2">
                <strong>  二、本协议中的个人信息，包括但不限于：</strong>
                <p> 1、您的身份信息，包括但不限于姓名/名称、证件号码、证件类型、住所地/收货地址、电话/手机号码、征信认证信息以及其他认证信息；</p>
                <p>  2、您的淘宝账户信息，包括但不限于淘宝账号、收货地址及联系方式； </p>
                <p>3、其他邮箱账单所需的必要信息等。</p>
            </div>
            <div class="title3" id="title3">
                <strong> 三、您同意授权性感查询您的个人通话详单信息，包括但不限于通话时间、通话对象、通话次数等相关信息。 </strong>
            </div>
            <br/>
            <div class="title4" id="title4">
                <strong> 四、您同意本协议中的授权不可撤回或撤销。 </strong>
            </div>
            <br/><br/>
    	</div>
    </body>
</html>
